.activity-section h2{
    margin-top: 40px;
    margin-left: 30px;
  }
 .activity-section .bloc-card{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .activity-section .left-card{
    display: flex;
  }
  
  .activity-section .card-column{
    padding-left: 30px;
  }
  
  .picture-activity1,
  .picture-activity4{
    object-fit: cover;
    width: 100%;
    height: 410px;
    border-radius: 15px 15px 0 0;
  }
  
  .picture-activity2{
    object-fit: cover;
    width: 280px;
    height: 150px;
    border-radius: 15px 15px 0 0;
  }
  
  .picture-activity3{
    object-fit: cover;
    width: 280px;
    height: 130px;
    border-radius: 15px 15px 0 0;
  }
  
  .picture-activity5{
    object-fit: cover;
    width: 280px;
    height: 130px;
    border-radius: 15px 15px 0 0;
  }
  
  .picture-activity6{
    object-fit: cover;
    width: 280px;
    height: 150px;
    border-radius: 15px 15px 0 0;
  }
  
  .border-activity{
   border-radius: 15px;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.062);
   margin-bottom: 70px;
   padding-bottom: 20px;
   transition: 0.8s;
  }
  .border-activity:hover{
    transform: scale(1.07);
  }
  .activity-section .right-card{
    display: flex;
    padding-left: 30px;
  }
  
  .activity-section .text-activity{
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
  }
  