  .section2{
    display: flex;
    margin: 20px 0 0 6px;
  }
  
  .filters-icon{
    display: flex;
  }
  
  .section2 h3{
    margin: 15px 40px 0 30px;
    font-size: 19px;
  }
  
  .section2 .filters-icon{
    display: flex;
  }
  
  .section2 .filters{
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 30px;
    border: #dfdede 2px solid;
    border-radius: 30px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.8s;
  }
  
  .section2 .filters:hover{
    transform: scale(1.05);
  }
  
  .section2 .icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #0065fc;
    margin-left: -2px; 
  }
  
  .section2 p{
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .section2 p:hover{
    color: #0065fc;
  }
  