.section5{
    background: #F2F2F2;
    width: 30%;
    height: 650px;
    border-radius: 20px;
  }
  
  .section5 .title-graph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
  }
  
  .fa-chart-line{
    font-size: 25px;
  }
  
  .section5 .border-popular{
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 145px;
    width: 290px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
  }
  .section5 .border-popular:hover{
    transform: scale(1.07);
  }
  
  .section5 img{
    object-fit: cover;
    height: 140px;
    width: 110px;
    border-radius: 20px 0 0 20px;
  }
  .section5 .text-picture{
    margin-top: 10px;
  }
  .section5 h4{
    font-weight: 900;
  }
  .section5 .star{
    margin-top: 30px;
  }
  .section5 .colorblue{
    color: #0065fc;
    font-size: 12px;
  }
  .section5 .colorgrey{
    color: #d6d1d1;
    font-size: 12px;
  }